---
layout: default
---
<div class="post-box">
  <div class="post">
    <div class="post-title">{{page.title}}</div>
    <hr>
    Technologies used: {{page.techs}}
    <hr>
    I was responsible for: {{page.resp}}
    <hr>
    {{content}}
  </div>
</div>

<script>
    var i = 0;
    var txt = "$ {{page.description}}";
    var speed = 50;
    function typeWriter() {
        if (i < txt.length) {
            document.getElementById("message-box").innerHTML += txt.charAt(i);
            i++;
            setTimeout(typeWriter, speed);
        }
    }
    typeWriter()
</script>